---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: deny-all-ingress-to-target-pod
  namespace: "{{ namespace_name }}"
spec:
  podSelector:
    matchLabels:
      app: "{{ tag_name }}"
  policyTypes:
    - Ingress